* {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;

}

body {
    background-color: rgb(173, 171, 171);
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.705);
}

img.header {
    width: 500px;
    height: 200px;
}

img.lado {
    float: right;
    width: 150px;
    height: 150px;
}

img.sccp {
    width: 500px;
    height: 500px;

}

img.tamanho {
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
    width: 500px;
}

img.back {
    width: 30px;
    height: 30px;
}